.git/**
.gitignore
.github/**
.vscode/**
.vscode-test/**
node_modules/prettier/**
!node_modules/prettier/package.json
!node_modules/prettier/doc.js
node_modules/@poliklot/prettier-plugin-handlebars/CHANGELOG.md
node_modules/@poliklot/prettier-plugin-handlebars/README.md
node_modules/@poliklot/prettier-plugin-handlebars/docs/**
node_modules/@poliklot/prettier-plugin-handlebars/dist/cli.*
node_modules/@poliklot/prettier-plugin-handlebars/dist/init.*
node_modules/@poliklot/prettier-plugin-handlebars/dist/types.*
src/**
test/**
*.vsix
.DS_Store
ITERATIONS.local.md
RELEASE.md
tsconfig.json
package-lock.json
*.local.*
